@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --color1: #000000;
    --color2:#414141;
    --color3: #30303F;
    --fondo: #F5F7F9;
    --border: #C9C6C6;
}

body {
    font-family: 'Bona Nova SC', sans-serif;
    margin: 0;
    padding: 0;
}

/* ENCABEZADO */
header {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

.logo {
    max-width: 200px;
    height: auto;
}

/*NAV VAR*/
.nav-var {
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1000;
    background-color: #141414;
    right:0;
    padding-bottom: 10px;
}

.nav-var nav {
    display: flex;
    justify-content: center;
}

.navLink {
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    top: 60px;
}

.navLink:hover {
    background-color: #ddd;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/*CARRITO DE COMPRAS*/
.btn-cart {z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
    margin-left: 500px;
    margin-right: 10px;
    margin-top: 11px;
}

.btn-cart::after {
    content: attr(data-quantity);
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
}

.icon-cart {
    width: 20px;
    height: 20px;
    transition: .2s linear;
}

.icon-cart path {
    fill: rgb(255, 255, 255);
    transition: .2s linear;
}


.btn-cart:hover > .icon-cart path {
    fill: rgb(87, 87, 87);
}


/* SECCIÓN FOTO */
.foto {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    border: 5px thick #dddddd;
    
}

.foto img {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

/*CARRUSEL*/
.carousel {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

.carousel-container {
    padding-top: 50px;
    position: relative;
    height: 500px;
    width: 70vw;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
}

.carousel-slides {
    display: flex;
    width: 100%;
    /* Adjust based on the number of slides */
    transition: transform 2s ease-in-out;
}

.slide {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

input[type="radio"] {
    display: none;
}

input#slide1:checked~.carousel-slides {
    transform: translateX(0%);
}

input#slide2:checked~.carousel-slides {
    transform: translateX(-99.999%);
}

.carousel-controls {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
}

.control-dot {
    display: inline-block;
    color: #000000;
    width: 12px;
    height: 13px;
    margin: 0 5px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    transition: background 2s ease;
}

input#slide1:checked~.carousel-controls label[for="slide1"],
input#slide2:checked~.carousel-controls label[for="slide2"] {
    background: #000000;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0%);
    }

    33.33% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}



/* SECCIÓN PERFUMES */
.container-perfumes {
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 1200px;
    margin: 0 auto;
}

.container-perfumes h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.perfumes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.perfume-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    box-sizing: border-box;
}

.perfume-item img {
    width: 100%;
    height: 270px;
    max-width: 100%;
}

.perfume-item h2 {
    margin: 10px 0;
    font-size: 18px;
}

.perfume-item p {
    font-size: 16px;
    color: #333;
}


/*BOTON ADD TO CART*/
.cartBtn {
    margin-left: 20%;
    padding: auto;
    width: 155px;
    height: 50px;
    border: none;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: white;
    font-weight: 500;
    position: relative;
    background-color: rgb(29, 29, 29);
    box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
  }
  
  .cart {
    z-index: 2;
  }
  
  .cartBtn:active {
    transform: scale(0.96);
  }
  
  .product {
    position: absolute;
    width: 12px;
    border-radius: 3px;
    content: "";
    left: 23px;
    bottom: 23px;
    opacity: 0;
    z-index: 1;
    fill: rgb(211, 211, 211);
  }
  
  .cartBtn:hover .product {
    animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-30px);
      opacity: 1;
    }
  
    100% {
      transform: translateY(0) rotate(-90deg);
      opacity: 1;
    }
  }
  
  .cartBtn:hover .cart {
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }





/* BOTON INSTAGRAM Y FACEBOOK */
.wrapper {
    position: fixed;
    bottom: 20px;
    right: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
    /* Asegura que el botón esté por encima de otros elementos */
    
    
}

.wrapper .facebook{
    text-decoration: none;
    color: #1877f2;
}
.wrapper .instagram{
    text-decoration: none;
    color:#e4405f
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.wrapper .tooltip {
    position: absolute;
    top: -45px;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
  
}


/**/
.container{
    max-width: 1120px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 100%;
}

.banner{
    margin: 50px 0;
}

.title{
    font-size: 30px;
    font-weight: 500;
    color: var(--color1);
    margin-bottom: 30px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    margin-bottom: 50px;
}

.product-grid__item{
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.product-grid__imagen{
    text-align: center;
}

.product-grid__info{
    padding: 15px;
    text-align: center;
}

.product-grid__name{
    font-size: 16px;
    color: var(--color3);
    margin-bottom: 6px;
    font-weight: 400;
}

.product-grid__price{
    font-size: 16px;
    font-weight: 600;
    color: var(--color3);
}

.product-grid__btn{
    margin-top: 20px;
}

.btn-default,
.btn-border,
.btn-primary{
    width: 100%;
    height: 48px;
    line-height: 48px;
    outline: 0;
    display: inline-block;
    border-radius: 25px;
    cursor: pointer;
    padding: 0 20px;

    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.btn-default{
    background-color: var(--color2);
    color: var(--color1);
}

.btn-default:hover{
    background-color: var(--color1);
    color: #fff;
}


.btn-border{
    border: 2px solid var(--color1);
    color: var(--color1);
    background-color: transparent;
}

.btn-border:hover{
    background-color: var(--color2);
    border-color: var(--color2);
}

.btn-primary{
    background-color: var(--color1);
    color: #fff;
}



.modal{
    position: fixed;
    top: 0;
    right: 10px;
    background-color: var(--fondo);
    width: 100%;
    max-width: 350px;
    height: 100vh;

    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all .35s ease-in;

    z-index: 20000;
}

.modal::after{
    position: fixed;
    top: 0;
    right: 350px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;

    opacity: 0;
    content: '';
    pointer-events: none;
    transition: all .35s ease-in;
}

.modal.active{
    visibility: visible;
    opacity: 1;
    transform: none;
}

.modal.active::after{
    opacity: 1;
    pointer-events: auto;
}
.modal__container{
    height: 95%;
    padding: 30px;
    position: relative;
    z-index: 1000;
}

.modal__close{
    position: absolute;
    left: -50px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color2);
    color: var(--color1);
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__close:hover{
    background-color: var(--color1);
    color: #fff;
}

.modal__info{
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
}

.modal__header{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border);
}

.modal__header h2{
    font-size: 24px;
    color: var(--color1);
    font-weight: 600;
}

.modal__header h2 i{
    margin-right: 10px;
}

.modal__body{
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    width: 100%;
    flex-grow: 1;
}

.modal__item{
    display: flex;
    align-items: center;
}

.modal__item + .modal__item{
    margin-top: 10px;
}

.modal__thumb{
    width: 80px;
}

.modal__text-product{
    width: calc(100% - 80px);
    padding-left: 20px;
}

.modal__text-product p strong{
    color: var(--color1);
    margin-top: 6px;
}

.modal__footer{
    padding-top: 10px;
    margin-top: 30px;
    border-top: 1px solid var(--border);
}

.modal__list-price ul li+li{
    margin-top: 10px;
}

.modal__list-price ul li strong{
    color: var(--color1);
}

.modal__total-cart{
    font-size: 20px;
    color: var(--color1);
    margin: 20px 0;
}

.modal__btns{
    padding-top: 20px;
    padding-right: 50px;
    border-top: 1px solid var(--border);
}

.modal__btns a+a{
    margin-top: 15px;
}

@media (max-width: 820px){
    .product-grid{
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width: 600px){
    .product-grid{
        grid-template-columns: 1fr;
    }
}